/Objetos/JavaApplication1/nbproject/private/
/Objetos/Practica1Taller/nbproject/private/
/Objetos/TP_ProyectoAlumnos/nbproject/private/
/Objetos/TP_ProyectoAlumnos/build/
/Objetos/Ej1/nbproject/private/
/Objetos/Ej1/build/
/Objetos/Ej2/nbproject/private/
/Objetos/Practica 1/nbproject/private/
/Objetos/Practica1/nbproject/private/
/Objetos/Practica1/build/
/Objetos/Practicas/nbproject/private/
/Objetos/Practicas/build/